@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/300/open-sans-300.eot');
    src: url('../fonts/open_sans/300/open-sans-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/300/open-sans-300.woff2') format('woff2'),
    url('../fonts/open_sans/300/open-sans-300.woff') format('woff'),
    url('../fonts/open_sans/300/open-sans-300.ttf') format('truetype'),
    url('../fonts/open_sans/300/open-sans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/300-italic/open-sans-300-italic.eot');
    src: url('../fonts/open_sans/300-italic/open-sans-300-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/300-italic/open-sans-300-italic.woff2') format('woff2'),
    url('../fonts/open_sans/300-italic/open-sans-300-italic.woff') format('woff'),
    url('../fonts/open_sans/300-italic/open-sans-300-italic.ttf') format('truetype'),
    url('../fonts/open_sans/300-italic/open-sans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/400/open-sans-400.eot');
    src: url('../fonts/open_sans/400/open-sans-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/400/open-sans-400.woff2') format('woff2'),
    url('../fonts/open_sans/400/open-sans-400.woff') format('woff'),
    url('../fonts/open_sans/400/open-sans-400.ttf') format('truetype'),
    url('../fonts/open_sans/400/open-sans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/400-italic/open-sans-400-italic.eot');
    src: url('../fonts/open_sans/400-italic/open-sans-400-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/400-italic/open-sans-400-italic.woff2') format('woff2'),
    url('../fonts/open_sans/400-italic/open-sans-400-italic.woff') format('woff'),
    url('../fonts/open_sans/400-italic/open-sans-400-italic.ttf') format('truetype'),
    url('../fonts/open_sans/400-italic/open-sans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/600/open-sans-600.eot');
    src: url('../fonts/open_sans/600/open-sans-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/600/open-sans-600.woff2') format('woff2'),
    url('../fonts/open_sans/600/open-sans-600.woff') format('woff'),
    url('../fonts/open_sans/600/open-sans-600.ttf') format('truetype'),
    url('../fonts/open_sans/600/open-sans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/600-italic/open-sans-600-italic.eot');
    src: url('../fonts/open_sans/600-italic/open-sans-600-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/600-italic/open-sans-600-italic.woff2') format('woff2'),
    url('../fonts/open_sans/600-italic/open-sans-600-italic.woff') format('woff'),
    url('../fonts/open_sans/600-italic/open-sans-600-italic.ttf') format('truetype'),
    url('../fonts/open_sans/600-italic/open-sans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/700/open-sans-700.eot');
    src: url('../fonts/open_sans/700/open-sans-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/700/open-sans-700.woff2') format('woff2'),
    url('../fonts/open_sans/700/open-sans-700.woff') format('woff'),
    url('../fonts/open_sans/700/open-sans-700.ttf') format('truetype'),
    url('../fonts/open_sans/700/open-sans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/700-italic/open-sans-700-italic.eot');
    src: url('../fonts/open_sans/700-italic/open-sans-700-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/700-italic/open-sans-700-italic.woff2') format('woff2'),
    url('../fonts/open_sans/700-italic/open-sans-700-italic.woff') format('woff'),
    url('../fonts/open_sans/700-italic/open-sans-700-italic.ttf') format('truetype'),
    url('../fonts/open_sans/700-italic/open-sans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/800/open-sans-800.eot');
    src: url('../fonts/open_sans/800/open-sans-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/800/open-sans-800.woff2') format('woff2'),
    url('../fonts/open_sans/800/open-sans-800.woff') format('woff'),
    url('../fonts/open_sans/800/open-sans-800.ttf') format('truetype'),
    url('../fonts/open_sans/800/open-sans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open_sans/800-italic/open-sans-800-italic.eot');
    src: url('../fonts/open_sans/800-italic/open-sans-800-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/800-italic/open-sans-800-italic.woff2') format('woff2'),
    url('../fonts/open_sans/800-italic/open-sans-800-italic.woff') format('woff'),
    url('../fonts/open_sans/800-italic/open-sans-800-italic.ttf') format('truetype'),
    url('../fonts/open_sans/800-italic/open-sans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}

* {
    box-sizing:         border-box;
}

body {
    margin:             0;
    font-family:        OpenSans, sans-serif;
}

.clearfix {
    overflow:           auto;
}

.container {
    display:            block;
    width:              1024px;
    margin:             0 auto;
}

.header-wrapper {
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    background-color:   #fff;
    z-index:            1;
}
.header {
    height:             60px;
    overflow:           hidden;

}

.header-logo {
    display:            block;
    float:              left;

}

.header-logo > img {
    width:              150px;
    padding:            9px 0;
}

ul.header-nav {
    float:              right;
    margin:             0;
    list-style-type:    none;
}

ul.header-nav >li {
    display:            inline-block;
}

ul.header-nav > li.header-nav-cta > a {
    background-color:   #2fca2d;
    padding:            11px 30px;
    border-radius:      20px;
    color:              #fff;

}

ul.header-nav > li.header-nav-cta > a:hover {
    background-color:   #374048;
}


ul.header-nav > li > a {
    display:            inline-block;
    padding:            19px 10px;
    color:              #8f969d;
    text-decoration:    none;
    font-size:          18px;
    text-transform:     uppercase;
}

ul.header-nav > li > a:hover {
    color:              #5c6167;
}

.product {
    position:           relative;
    padding-top:        60px;
    background:         url("../img/header-background.jpg") center no-repeat;
    height:             1000px;
    text-align:         center;
}

    .product-title {
        color:              #374048;
        font-size:          79px;
        padding-top:        20px;

    }

    .product-description {
        color:              #8a9095;
        font-size:          27px;
        padding:            0 130px;
        line-height:        44px;
    }

    .product-cta {
        display:            inline-block;
        background-color:   #2fca2d;
        color:              #fff;
        text-decoration:    none;
        text-transform:     uppercase;
        font-size:          27px;
        padding:            20px 40px;
        border-radius:      30px;
        margin-top:         40px;
    }

    .product-cta:hover {
        background-color:   #374048;
    }


    .product-image {
        width:              290px;
        height:             320px;
        position:           absolute;
        bottom:             40px;
        left:               50%;
        margin-left:        calc(-290px / 2);
    }


.product-1 {
    padding-top:        60px;
    text-align:         center;
}

.product-1.section-dark {
    background-color:   #f8fbfd;
}

    .product-title-1 {
        color:              #374048;
        text-transform:     uppercase;
        font-size:          48px;
        padding-top:        20px;

}

    .product-description-1 {
        position:           relative;
        color:              #8a9095;
        font-size:          20px;
        padding:            0 130px;
        line-height:        32px;
}

    .product-description-1::before {}
    .product-description-1::after {
        content:            "";
        width:              80px;
        height:             4px;
        position:           absolute;
        top:                100px;
        left:               472px;
        background-color:   #eee;
    }

    .product-image-1 {
        margin-bottom: 150px;
        position:           relative;
        background:         url("../img/apple-watch-2.png") center no-repeat;
        width:              347px;
        height:             499px;
        top:                80px;
        left:               33%;
}

ul.product-block {
    list-style: none;
    text-align: left;
}

ul.product-block > li.product-item {
    margin-top: 35px;
    padding-left: 50px;
}

ul.product-block > li.product-item > h3.product-title-2 {
    font-size: 20px;
    line-height: 1px;
}

ul.product-block > li.product-item > p.product-description-2 {
    font-size: 14px;
    line-height: 22px;
}

.plus-icon {
    background-color:   #13C7FF;
    color:              #fff;
    position:           absolute;
    height:             31px;
    width:              31px;
    padding:            8px;
    border-radius:      100%;
    cursor:             pointer;
    line-height:        13px;
}

.plus-icon:nth-child(1) {
    top:                154px;
    left:               -5px;
}
.plus-icon:nth-child(2) {
    top:                54px;
    left:               299px;
}
.plus-icon:nth-child(3) {
    bottom:             195px;
    right:              99px;
}
.plus-icon:nth-child(4) {
    bottom:             99px;
    left:               4px;
}

.plus-icon:hover::before {
    content:            "";
    position:           absolute;
    top:                -8px;
    left:               -8px;
    width:              41px;
    height:             41px;
    border:             3px solid #13C7FF;
    border-radius:      100%;
    background-color:   transparent;
}

span.plus {
    font-size:          14px;

}

.product-block {
    position:           relative;
    margin:             0;
    padding:            60px 0;
}

.product-item {
    position:           relative;
    float:              left;
    width:              33.333%;
    padding-left:       20px;
    padding-right:      20px;

}

ul.product-item {
    position:           relative;
    float:              left;
    width:              calc((100% - 283px) / 2);
    margin-left: 0;
}

.product-items {
    position:           relative;
    float:              left;
    padding-left:       20px;
    padding-right:      20px;
    padding-bottom:     30px;
}


ul.product-block > li.product-items {

    padding-left: 50px;
}

ul.product-block > li.product-items > h3.product-title-2 {
    font-size: 20px;
    line-height: 1px;
}

ul.product-block > li.product-items > p.product-description-2 {
    font-size: 14px;
    line-height: 22px;
}

.product-item > .hiw-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.product-title-2 {
    color:              #374048;
    font-size:          26px;
}

.product-description-2 {
    margin:             0;
    color:              #8a9095;
    font-size:          16px;
    font-weight:        400;
    line-height:        26px;
    max-width:          350px;
}

.product-block > .product-item > .hiw-step-arrow {
    display: block;
    position: absolute;
    top: 30%;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top: 2px solid #8a9095;
    border-right: 2px solid #8a9095;
    transform: rotate(45deg);
}

.icon-style:before {
    position: absolute;
    color: #13C7FF;
    left: -18px;
    top: 10px;
}

.apl-img-3 {
    float: left;
    position: relative;
    width: 283px;
    height: 510px;
}

.left-item {
    padding-left: 0;
    padding-right: 35px;
}

.right-item {
    padding-left: 35px;
    padding-right: 0;
}

.collection {
    position:           relative;
    float:              left;
    width:              25%;
    padding-left:       20px;
    padding-right:      20px;
    text-align:         center;
}

.img-collection {
    position: relative;
    width: 230px;
    height: 230px;
}

.collection-title {
    color: #13C7FF;
    font-size: 16px;
    line-height: 1px;
}

.collection-description {
    color: #b4bcc3;
    font-size: 13px;
    line-height: 1px;
}

.price {
    color: #FF1900;
    font-size: 19px;
    line-height: 1px;
    padding-top: 6px;
}

.collection-button {
    display:            inline-block;
    color:              #b4bcc3;
    border:             1px solid #e1e4e7;
    text-decoration:    none;
    text-transform:     uppercase;
    font-size:          12px;
    line-height:        26px;
    padding:            2px 33px;
    border-radius:      30px;
}

.collection-button:hover {
    background-color: #374048;
    border-color: #374048;
    color: #fff;
}